/* COLORS VARIABLES */

:root {
  --cat1: #5364A1;
  --cat1-bg: #D7DDF3;
  --cat2: #75A06E;
  --cat2-bg: #D7F3EC;
  --cat3: #9E8649;
  --cat3-bg: #F3EFD7;
  --reset: #A15353;
  --reset-bg: #F3D7D7;
  --cat-banner-content: #444444;
  --cat-banner-bg: #F3F3F3;

}

@font-face {
  font-family: "Pangea Text Trial";
  src: url("PangeaTextTrial-Light.woff") format("woff"),
  url("PangeaTextTrial-Light.woff2") format("woff2"),
  url("PangeaTextTrial-Medium.woff") format("woff"),
       url("PangeaTextTrial-Medium.woff2") format("woff2"),
       url("PangeaTextTrial-Semibold.woff") format("woff"),
       url("PangeaTextTrial-Semibold.woff2") format("woff2"),
       url("PangeaTextTrial-Bold.woff") format("woff"),
       url("PangeaTextTrial-Bold.woff2") format("woff2");
 }

 body{
  margin:0;
  text-align:center;
  /* font-family: "Decovar Alpha"; */
  font-family: "Pangea Text Trial", sans-serif;
}

.top-intro {
  margin: 2% 0px 2% 0px;
}

h1 {
  text-align:center;
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2em;
  color: #444444;
  font-weight: 500;
}

.sub-title {
  color: #BABABA;
  font-weight: 300;
    font-size: 1.2em;
}

.container {
  width:90%;
  margin:0 auto;
}
input[type="radio"] {
    display:none;
}
label {
  width:24%;
  float:left;
  text-align:center;
  background:#ffffff;
  border-radius: 5px;
  color:#222222;
  padding: 1.25% 0% 1.25% 0%;
  margin: 1% 0.5% 4% 0.5%;
  cursor:pointer;
}

nav {
  margin-left: 50px;
  margin-right: 50px;
}

.C1-NAV {
  color: var(--cat1);
  background-color: var(--cat1-bg);
}

.C2-NAV {
  color: var(--cat2);
  background-color: var(--cat2-bg);
}

.C3-NAV {
  color: var(--cat3);
  background-color: var(--cat3-bg);
}

.C4-NAV {
  color: var(--cat4);
  background-color: var(--cat4-bg);
}

.RESET-NAV {
  color: var(--reset);
  background-color: var(--reset-bg);
}

input[type="radio"][id="Cat1"]:checked + label {
  color: var(--cat1);
  font-weight: 600;
  background-color: #bbc8ed;
}
input[type="radio"][id="Cat1"]:checked ~ .Cat2, input[type="radio"][id="Cat1"]:checked ~ .Cat3 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="Cat2"]:checked + label {
  color: var(--cat2);
  font-weight: 600;
  background-color: #a3e2d3;
}
input[type="radio"][id="Cat2"]:checked ~ .Cat1, input[type="radio"][id="Cat2"]:checked ~ .Cat3 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="Cat3"]:checked + label {
  color: var(--cat3);
  font-weight: 900;
  background-color: #e5dba5;
}
input[type="radio"][id="Cat3"]:checked ~ .Cat1, input[type="radio"][id="Cat3"]:checked ~ .Cat2 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

.tile {
  float: left;
  transition: all 0.4s ease 0s;
  align-items: center;
  display: grid;
  margin: auto;
}



.letter { 
  font-size: 2em;
}

.flex-this {
  display:flex; 
  height: 100%; 
  justify-content: center;
}

.big-letter {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}


/* CARDS */

.hero {
  background: url("../img/couleurs-lumieres-banniere.png") no-repeat;
  background-size: cover;
}

/* .painting-el > div {
  position: absolute;
  top: 0;
  left: 0;
} */
.painting-el p {
  padding: 0;
  margin: 0;
}
.painting-face > * {
  width: 320px;
}
.painting-face > .image-box {
  display: flex;
  align-items: center;
  justify-content : center;
}

.painting-face > .image-box > img {
	max-height: 100%;
	max-width: 100%;
}

/* .painting-face > h2 {
  font-size: 28px;
  text-align: center;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  background-color: white;
} */

.painting-info > * {
  text-align: center;
  width: 320px;
  font-size: 28px;
}
.painting-info > h2 {
  margin-top: 165px;
}
.painting-info > hr {
  width: 254px;
  margin-bottom: 45px;
}

.painting-info > div {
  border: 1px solid black;
  width: 210px;
  margin: auto;
  margin-top: 105px;
  padding: 5px 0;
}
.painting-info a {
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.flip-card {
  padding: 3px;
  position: relative;
  background-color: transparent;
  width: 320px;
  height: 320px;
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.banner-name {
  position: absolute; 
  padding: 20px 0px 20px 0px;
  background-color: var(--cat-banner-bg);
  border-radius: 0px 0px 20px 20px;

}

/* CATEGORIES AND THEIR COLORS */

.C1 {
  background-color: var(--cat1-bg);
}

.C1 p {
  color: var(--cat1);
  font-size: 100px;
}

.C1 h2 {
  color: var(--cat-banner-content);
  font-size: 20px;
}

.C1 span {
  background-color: var(--cat1-bg);
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

.C2 {
  background-color: var(--cat2-bg);
}

.C2 p {
  color: var(--cat2);
  font-size: 100px;
}

.C2 h2 {
  color: var(--cat-banner-content);
  font-size: 20px;
}

.C2 span {
  background-color: var(--cat2-bg);
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

.C3 {
  background-color: var(--cat3-bg);
}

.C3 p {
  color: var(--cat3);
  font-size: 100px;
}

.C3 h2 {
  color: var(--cat-banner-content);
  font-size: 20px;
}

.C3 span {
  background-color: var(--cat3-bg);
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

/* CARD FLIP */

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: content-box;
  border-radius: 20px 20px 0px 0px;
}


.flip-card-back {
  transform: rotateY(180deg);
}

.painting-list {
  width: 90%;
  margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.painting-face > h2 {
  font-size: 28px;
  text-align: center;
  position: absolute;
  bottom: 0;
  backface-visibility: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
}

.cards {
  margin: auto;
  color: #d98f06;
  margin-bottom: 120px;
}

/* CAMERA */

.photo {
  display: none;
}

.player {
  width:100%;
  height: 320px;
  margin-top: -355px;
}

.photobooth {
  border: none!important;
  width: 320px!important;
  height: 320px!important;
  background-color:#F3F3F3;
  margin-top: 0!important;
  border-radius: 20px 20px 0px 0px!important;
}

/* RESPONSIVE */

@media screen and (max-width: 768px){
  .tile {
    width: 100%;
  }
  nav {
    margin:0;
    width: 100%;  
  }
  .container {
    width: 98%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
  .tile {
    width: 50%;
  }
}


@media screen and (min-width: 1200px){
  .tile {
    width: 33.33%;
  }
}
